:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #fff;
  --accent-button-color: #188ceb;
  --section-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bgr-hero-color: #c4c4c4;
  --icons-color: #afb1b8;
  --gradient: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover,
a:focus,
a:active,
:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

svg {
  fill: currentColor;
}

input,
label:not([type=checkbox]) {
  display: block;
}

button {
  font-family: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.header__container .logo:hover,
.header__container .logo:focus {
  color: var(--primary-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:active {
  transform: translateY(1px);
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
  text-align: center;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-list a:hover,
.socials-list a:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.socials-list__item {
  width: 44px;
  height: 44px;
}

.socials-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  color: var(--primary-text-color);
}
a:hover, a:focus {
  color: var(--accent-color);
}

.text {
  color: var(--second-text-color);
  line-height: 1.88;
  font-size: 16px;
}

.primery.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primery.button:hover, .primery.button:focus {
  background-color: var(--accent-button-color);
}
@media screen and (min-width: 1600px) {
  .primery.button {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-list,
.contacts-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav-list,
.contacts-list {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list,
.contacts-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list svg {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__item + .nav-list__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list a,
.contacts-list a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list a:hover, .nav-list a:focus,
.contacts-list a:hover,
.contacts-list a:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .contacts-list__item a {
    color: var(--second-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item + .contacts-list__item {
    margin-left: 30px;
  }
}

.nav-list__item {
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav-list__item--current {
    color: var(--accent-color);
  }
  .nav-list__item--current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background-color: var(--accent-color);
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--gradient), url(../images/hero1x-mob.jpg);
  background-color: var(--bgr-hero-color);
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero2x-mob.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gradient), url(../images/hero1x-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero2x-tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--gradient), url(../images/hero-desctop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero-desctop2x.jpg);
  }
}

.hero__title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--background-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.features-list__item {
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.features-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--section-color);
  border-radius: 4px;
}

.features-list__text {
  line-height: 1.7;
  font-size: inherit;
}

.features-list__title {
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    display: flex;
    margin: -15px;
  }
  .work-list__item {
    position: relative;
    margin: 15px;
  }
  .work-list__text {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 27px 0px;
    color: var(--background-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}
.team {
  background: var(--section-color);
  text-align: center;
  line-height: 1.18;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team-list__item {
  width: 100%;
  margin: 15px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team-list__card {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-list__card {
    padding-bottom: 30px;
  }
}

.team-list__text {
  margin-bottom: 16px;
  line-height: 1.19;
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list a:hover, .clients-list a:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .clients-list a {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list a {
    width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
  line-height: 1.7;
}
.footer > .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: start;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer div {
    text-align: center;
  }
}

.footer .logo:hover,
.footer .logo:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.adress {
  margin-top: 20px;
}

.adress__list .item:not(:last-of-type) {
  margin-bottom: 9px;
}

.adress__list a {
  font-style: normal;
  color: var(--footer-text-color);
}

.footer .logo,
a.adress__list--physical {
  color: var(--background-color);
}

.adress__list a:hover,
.adress__list a:focus {
  color: var(--accent-color);
}

.connect .connect-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--background-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.connect .text {
  margin-bottom: 20px;
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
}

.form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .form-wrap {
    flex-direction: row;
    gap: 12px;
  }
}

.form-wrap__input {
  width: 450px;
  height: 50px;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-color);
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1200px) {
  .form-wrap__input {
    width: 358px;
    padding: 13px 16px;
  }
}
.form-wrap__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-text-color);
}
.form-wrap__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-text-color);
}
.form-wrap__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-text-color);
}

.button > .social-icon {
  margin-left: 10px;
}

.form-wrap > .button {
  display: flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.footer-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--background-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 450px;
  height: 609px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-icon {
  fill: var(--accent-button-color);
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-top: 10px;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover, .form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form-input:hover ~ .input-icon, .form-input:focus ~ .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 57%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:hover, textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-deal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.deal-label {
  position: absolute;
  top: 2px;
  left: 7px;
  color: var(--second-text-color);
  opacity: 0;
  display: inline-block;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .deal-label {
    left: 45px;
    font-size: 14px;
    line-height: 1.71;
  }
}
.deal-text {
  font-size: 12px;
  line-height: 1.71;
}

.deal-link {
  margin-left: 3px;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .deal-link {
    position: absolute;
    top: 18px;
    left: 21px;
  }
}
.deal-link {
  display: inline-block;
  margin-left: 4px;
  color: rgb(33, 150, 243);
  text-decoration: underline;
  text-underline-position: under;
}
.deal-link:hover, .deal-link:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.custom-checkbox:checked + .deal-label {
  opacity: 1;
  color: var(--background-color);
}
.custom-checkbox:checked {
  background-color: var(--accent-color);
  border: 1px solid transparent;
}

.icon-checked {
  fill: currentColor;
}

.form .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 52px;
  padding-left: 52px;
}

.form-deal {
  margin-bottom: 30px;
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.box-overlay:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-overlay .text {
  color: var(--background-color);
  font-size: 18px;
  line-height: 1.56;
}

.page-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.page-filter .item + .item {
  margin-left: 8px;
}

.page-filter .button {
  min-width: 73px;
  background-color: var(--section-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-filter .button:hover, .page-filter .button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.examples > .item {
  flex-basis: calc((100% - 90px) / 3);
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.example-link {
  display: block;
  color: var(--primary-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link:hover, .example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  padding: 15px 10px 48px 40px;
  z-index: 999;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.menu-burger {
  fill: black;
}

.menu-open:hover, .menu-open:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
.menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-list__link:focus, .mob-menu-list__link:hover {
  color: var(--accent-color);
}

.mob-menu-list__link--current {
  color: var(--accent-color);
}

.mob-menu-list__tell {
  display: block;
  margin-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-list__mail {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mob-menu-list__social {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.mob-menu-list__social-item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-list__social-item:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */