.mobile-soc {
	display: flex;
	@media screen and (max-width: 439px) {
		flex-wrap: wrap;
		justify-content: center;
	}

	@media screen and (min-width: $tablet) {
		display: none;
	}
}

.mobile-soc__item {
	&:nth-child(1) {
		padding-right: 10px;
		border-right: 1px solid rgba(33, 33, 33, 0.2);

		@media screen and (max-width: 429px) {
			padding-left: 5px;
		}
	}
	&:nth-child(2) {
		padding: 0 10px;
		border-right: 1px solid rgba(33, 33, 33, 0.2);

		@media screen and (max-width: 429px) {
			padding: 0 5px;
		}
	}
	&:nth-child(3) {
		padding: 0 10px;
		border-right: 1px solid rgba(33, 33, 33, 0.2);

		@media screen and (max-width: 429px) {
			padding: 0 5px;
		}
	}
	&:nth-child(4) {
		padding-left: 10px;

		@media screen and (max-width: 429px) {
			padding-left: 5px;
		}
	}
}

.mobile-soc__link {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;

	color: $accentColor;

	@media screen and (max-width: 350px) {
		font-size: 14px;
	}

	@media screen and (min-width: 350px) and (max-width: 430px) {
		font-size: 16px;
	}
}
