.members {
	background-color: $tertiaryBgc;
}

.members__list {
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: $cardSetGap;
	}
}

.members__item {
	border-radius: 0px 0px 4px 4px;
	background-color: $primaryBgc;
	box-shadow: $shadow;

	&:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: $cardSetGap;
		}
	}

	@media screen and (min-width: $tablet) {
		flex-basis: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: $desktop) {
		flex-basis: calc((100% - 30px * 3) / 4);
	}
}

.members__item img {
	width: 100%;
}

.members-card {
	padding: $cardSetGap 10px 24px;

	font-size: 16px;
	line-height: 1.19;
	text-align: center;

	@media screen and (min-width: $desktop) {
		padding: $cardSetGap 10px;
	}
}

.members-card__name {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;

	color: $titleTextColor;
}

.members-card__speciality {
	margin-bottom: 16px;

	color: $primaryTextColor;
}
