.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    @include scr(mobile) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include scr(tablet) {
    max-width: 768px;
    }

    @include scr(desktop) {
      max-width: 1200px;
    }
}