.primery.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--background-color);
  background-color: var(--accent-color);

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-button-color);
  }

  @media screen and (min-width: 1600px) {
  
    padding-left: 32px;
    padding-right: 32px;
  }
}

