 .clients-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;
   align-items: center;
 }

 .clients-list a {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 210px;
   height: 92px;

   border: 1px solid var(--icons-color);
   border-radius: 4px;
   color: var(--icons-color);

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
     border: 1px solid var(--accent-color);
     color: var(--accent-color);
     transform: scale(1.1);
   }

   @include scr(tablet) {
     width: 226px;
   }

   @include scr(desktop) {
     width: 170px;
   }
 }
