.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-color);
    line-height: 1.7;


  & > .container {
    display: flex;

    flex-direction: column;
    gap: 60px;

    @include scr(tablet) {
      flex-direction:row;
      flex-wrap: wrap;
      justify-content:space-evenly;
    }


    @include scr(desktop) {
      display: flex;
      flex-direction:row;
    gap: 70px;
    justify-content: start;
    align-items: baseline;
  }
  }
}
  
.footer div {
  @include scr(not-desktop) {
  text-align: center;
}
}
 


