.form {
  margin-left: auto;
  margin-right: auto;
}
  
.form-title {

  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-top: 10px;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &:hover~.input-icon,
  &:focus~.input-icon {
    fill: var(--accent-color);
  }
}

.input-icon {
  position: absolute;
  top: 57%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-deal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}


.deal-label {
  position: absolute;
  top: 2px;
  left: 7px;
  color: var(--second-text-color);
  opacity: 0;
  display: inline-block;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
@include scr(desktop) {
  .deal-label {
    left: 19px;
    font-size: 14px;
    line-height: 1.71;
    
  }
}

.deal-text {
  font-size: 12px;
  line-height: 1.71;
  @include scr(desktop) {
    font-size: 14px;
  }
}

.deal-link {
  margin-left: 3px;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .deal-link {
    position: absolute;
    top: 18px;
    left: 21px;
  }
}


.deal-link {
  display: inline-block;
  margin-left: 4px;
  color: rgba(33, 150, 243, 1);
  text-decoration: underline;
  text-underline-position: under;

  &:hover,
  &:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.custom-checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:checked+.deal-label {
    opacity: 1;
    color: var(--background-color);
  }

  &:checked {
    background-color: var(--accent-color);
    border: 1px solid transparent;
  }
}

.icon-checked {
  

  fill: currentColor;
}

.form .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 52px;
  padding-left: 52px;
}

.form-deal {
  margin-bottom: 30px;
}