.work {
  display: none;
  @include scr(desktop) {
    display: block;
  }
}
  
@include scr(desktop) {

.work-list {
  display: flex;
  margin: -15px;
}

.work-list__item {
    position: relative;
    margin: 15px;
  }
  
  .work-list__text {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 27px 0px;
    color: var(--background-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}

