
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;//щоб не перевищувала розмір блока
  height: auto; //при збільшенні ширини збільшувалася висота

}

a,
a:visited,
a:hover,
a:focus,
a:active,
:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

svg {
	fill: currentColor;
}

input,
label:not([type="checkbox"]) {
	display: block;
}

button {
  font-family: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
}