.page-header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	background-color: $primaryBgc;
	border-bottom: $headerBorder;

	@media screen and (max-width: 767px) {
		padding: 10px 0;
	}
}

.page-header__container {
	display: flex;
	align-items: center;

	@media screen and (max-width: 767px) {
		justify-content: space-between;
	}
}
.menu {
	flex-grow: 1;
}

.menu__container {
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		width: 100%;
	}
}
