:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #fff;
  --accent-button-color: #188ceb;
  --section-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bgr-hero-color: #c4c4c4;
  --icons-color: #afb1b8;
  --gradient: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      );
}